<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
   </startup>
   <appSettings>
      <add key="pages" value="30"/>
      <add key="path" value="e:\!radio\pwt"/>
      <!--Powieść w trójce-->
      <add key="sectionId" value="9"/>
      <add key="categoryId" value="206"/>
      <add key="tabId" value="125111"/>
      <add key="boxInstanceId" value="33348"/>

      <!--Klub Ludzi Ciekawych Wszystkiego--><!--
      <add key="sectionId" value="8"/>
      <add key="categoryId" value="405"/>
      <add key="tabId" value="126300"/>
      <add key="boxInstanceId" value="16115"/>

      --><!--ABC Popkultury--><!--
      <add key="sectionId" value="9"/>
      <add key="categoryId" value="3851"/>
      <add key="tabId" value="124778"/>
      <add key="boxInstanceId" value="32988"/>-->
   </appSettings>
</configuration>